h1{
    size:40px;
    color:rgba(125, 194, 255, 0.8);
}
body{
    background-color: #7aa1be;
    background-image: url("https://images.squarespace-cdn.com/content/v1/6137845ccfa8877e18491837/1631129485130-CU9KCAO9LKHZIDFV5SCG/sean-lewis_toonorth_loop_1000px.gif?format=2500w");
    background-attachment: fixed;
    background-position: center;
    margin-bottom:-5px;
    background-size: auto;
    background-repeat: repeat-y;
}
.resumePage{
    width:100%;
    margin-top:110px;
    display:inline-flex;
    position:absolute;
}
.resumeContainer{
    margin:40px;
    text-align: center;
    background:linear-gradient(to right, #CD8B76,#E76F51 ,#94593c);
    height: max-content;
    width:50%;
    display:relative;
    float:left;
    border-radius: 10px;
}

.resume{
    width:100%;
    height:100%;
    padding:10px;
    text-align:center;
    object-fit: contain;
}
.resumeMenu{
    float:right;
    width:40%;
    height:80%;
    margin-top: 20px;
    display:block;
}

.resumeMenu button{
    width:30%;
    height:20%;
    margin:30px;
    padding:15px;
    color:white;
    padding: 10px;
    background-color: #879CB3;
    border:solid #274C77 4px;
    border-radius: 15px;
}
.resumeMenu button:hover{
    background-color: #7489a0;
}

#donwloadBut{
    position:relative;
    text-align:center;
    text-decoration: none;
    top:10px;
    color:white;
    padding: 10px;
    background-color: #506C80;
    border:solid #000000 4px;
    border-radius: 15px;
}
button:hover{
    background-color: #6794b5;
}

#downloadBut a{
    text-decoration: none;
    position:relative;
    color:white;
    width:100%;
    height:100%;
}
.infoContainer{
    width: 100%;

}

.menuButs button{
    width:30%;
    height:20%;
    margin:5%;
    padding:15px;
    color:white;
    padding: 10px;
    background-color: #879CB3;
    border:solid #274C77 4px;
    border-radius: 15px;
}
.menuButs button:hover{
    background-color: #7489a0;
}

/* Color Schemes:
White: #E7ECEF
Dark Blue: #274C77
Mid Blue: #879CB3
Lighter Pale Blue: #506C80
Light Orange: #CD8B76
Brown: #732F1C
Burnt Orange: #E76F51
} */