body{
    overflow: auto;
    background-color: #A3CEF1;
}
/* Color Schemes:
White: #E7ECEF
Dark Blue: #274C77
Mid Blue: #879CB3
Lighter Pale Blue: #506C80
Light Orange: #CD8B76
Brown: #732F1C
Burnt Orange: #E76F51

} */

/* Headline */
.hiName{
    text-shadow: 2px 2px black;
    font-size: 50px;
    font-family: "Courier";
    text-align: center;
    color:white;
    margin-top:100px;
    transform: translateY(300px)
}

.headlineBox{
    margin-left:auto;
    margin-right: auto;
    height:830px;
    margin-top: 100px;
    margin-bottom: 30px;
    background-image: url("https://techcommunity.microsoft.com/t5/image/serverpage/image-id/469874iFE0D4F020442C5F9/image-size/large?v=v2&px=999");
    background-repeat: no-repeat;
    background-size:100%;
}
.textInterests{
    margin-right: 10px;
}
.typingInterests{
    position: relative;
    top: 40%;
    width:fit-content;
    display:flex;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.typingInterests p{
    color:white;
    text-shadow: 2px 2px black;
    font-size: 30px;
    font-family: "Courier";
    padding: 0.1em;
    text-align:center;
    position:relative;
}

.blink {
  animation: blink 0.8s infinite;
}
@keyframes blink{
  to { opacity:0; }
}
/* about-me */

.about-me{
    background-color: #274C77;
    text-align:center;
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    justify-content: space-between;
    color: #A3CEF1;
    position: static;
    width:80%;
    height:300px;;
    box-shadow:3px 4px rgb(#CD8B76);
    font-family:'Courier New', Courier, monospace;
    border-radius: 50px;
    box-shadow: 2px 4px rgb(55, 55, 55);
}

.profilePic{
    src:url("assets/ProfilePic.jpg");
    margin:30px;
    border-radius:200px;
    border: dashed #CD8B76 3px;
}
.aboutMeInfo{
    width:auto;
    margin:10px;
    font-size:20px;
}

/* Skills*/
.skillsBox{
    margin-top:50px;
    color:black;
    background-color: transparent;
    display:flex;
    justify-content: space-around;
    width:70%;
    height:320px;
    margin-inline:auto;
}

.skill{
    background-color: #CD8B76;
    padding: 10px;
    border-radius: 30px;
    width:20%;
    height:60%;
    margin-inline: 30px;
    display:block;
    text-align: center;
}
.skill img{
    width:90%;
    height:90%;
}

/* Extra Information */

.extraInfoBox{
    display:flex;
    position:relative;
    text-align: center;
    background-color: transparent;
    justify-content: space-between;
    margin-top:40px;
    height:900px;
    width:100%;
    background-color: #80a4bd;
    padding:20px;
}

.extraInfoBox h3{
    font-family: 'Courier New', Courier, monospace;
    font-size:30px;
    font-weight: bold;
}

.extraInfoBox div{
    text-align:center;
    position: relative;
    width:30%;
    background-color:#506C80;
    border-radius:20px;
    background-position: 50% 30%;
    padding:10px;
    height:500px;
    object-fit:fill;
    background-repeat: no-repeat;
    opacity: 100%;
    color:#e0a08c;
}

/* Boxes */
.futureCareer{
    top:0px;
    height:fit-content;
}
.hobbies{
    top:20px;
    background-image:url("https://img.freepik.com/premium-photo/painting-gym-with-window-that-says-mountain-it_910608-317.jpg");
}
.anotherBox{
    top:30px;
}

.extraInfoBox h3{
    font-family: 'Courier New', Courier, monospace;
    font-size:30px;
    font-weight: bold;
}
#biochem{
    width:100%;
    position: relative;
}


.intrBox{
    width:100%;
    background-color: #80a4bd;
    height:500px;
    padding:20px;
    margin-top:50px;
    position:relative;
    display:flex;
    justify-content: center;
    overflow:hidden;
}

@keyframes intrMoveLeft {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(300%);
    }
}

/* @keyframes intrShuffle{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(200%);
    } */

    
    /* 0%{
        transform: translateX(0px)
    }
    20%{
        transform: translateX(200px);
    }
    40%{
        transform: translateX(400px)
    }
    60%{
        transform: translateX(600px);
    }
    80%{
        transform: translateX(800px)
    }
    100%{
        transform: translateX(1000px);
    } */

.intr{
    display:flex;
    width:20%;
    height:80%;
    background-color: #506C80;
    border-radius: 20px;
    margin:40px;
    animation-timing-function: linear;
    animation: intrShuffle 5s 2;
}

.intr:hover{
    width:30%;
    height:90%;
    background-color:#7290a6;
    animation-play-state: paused;
}

/* #intrBio

#intrCompsci

#intrGov

#intrBusiness */


/*Weather stuff */
.weatherBox{
    position:absolute;
    z-index: 5;
    width:100%;
    height:200%;
    pointer-events: none;
}

.rain{
    position:static;
    z-index: 100;
    margin:0;
    width:100%;
    height:100%;
    display:block;
    background-color: rgba(00, 00, 00, 0.2);
    pointer-events: none;
}
.weatherButton{
    position:fixed;
    text-align:center;
    bottom:20px;
    right:20px;
    z-index:10;
    color:white;
    padding: 10px;
    background-color: #506C80;
    border:solid #274C77 4px;
    border-radius: 15px;
}

.weatherButton:hover{
    cursor: pointer;
    background-color: #80a4bd;
}

.skill:hover{
    background-color: #e0a08c;
}

